<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jasonlvhit.douping" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.jasonlvhit.douping.EntryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.github.jasonlvhit.douping.ui.ReviewActivity"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jasonlvhit.douping.MainActivity" />
        </activity>
        <activity
            android:name="com.github.jasonlvhit.douping.ui.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jasonlvhit.douping.MainActivity" />
        </activity>
        <activity
            android:name="com.github.jasonlvhit.douping.ui.SearchActivity"
            android:label="搜索"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jasonlvhit.douping.MainActivity" />
        </activity>
        <activity
            android:name="com.github.jasonlvhit.douping.ui.LoginWebView"
            android:label="用豆瓣账号登录"
            android:parentActivityName="com.github.jasonlvhit.douping.EntryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jasonlvhit.douping.EntryActivity" />
        </activity>
    </application>

</manifest>
